.App {
  text-align: center;
  background-color: #0F1037;
  min-height: 100vh;
  background-image: url('./star-wars.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-heading {
  color: yellow;
  font-family: "Stjldbl1";
}

.bg-red {
  background-color: #800000;
}

.bg-green {
  background-color: green;
}

.bg-blue {
  background-color: blue;
}

.bg-yellow {
  background-color: #DECA57;
}

.bg-purple {
  background-color: purple;
}

.bg-orange {
  background-color: orange;
}

.item-info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 60vw;
}

.has-pointer {
  cursor: pointer;
}

.App-logo-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.sw-404-page {
  color: whitesmoke;
  font-size: 60px;
  font-family: "Stjldbl1";
}